// includes/components-links.jade

mixin plot-ul(name, active, title)
	ul.three-quarters(class=name + ' ' + active)
		header
			h2: !{title}

		- var link = '?device=browser&test=' + name + '_loading'
		- link = link + '&test=' + name + '_smoothness'

		li
			a.topcoat-button(href='/dashboard' + link) details
			a.topcoat-button.baseline(href='/baseline' + link) baseline


- var active = 'active'
each data, name in config.testcases
	+plot-ul(name + '-nojs', active, name + ' not using JavaScript')

	if active == 'active'
		- active = 'not-active'

	// JS version
	if data.scripts.length > 0
		+plot-ul(name + '-js', active, name + ' using JavaScript')


include flip


