// includes/components-links.jade

ul.buttons.active.three-quarters
	header
		h2(data-github='buttons') Buttons
	li
		a.topcoat-button(href='/dashboard?test=buttons&test=buttons&device=desktop') details
		//a.topcoat-button.baseline(href='/baseline?test=smoothness_benchmark_dtag_buttons&test=smoothness_benchmark_dtag_button-base&test=loading_benchmark_topcoat_button&test=loading_benchmark_topcoat_button-base&device=Desktop') baseline
ul.forms.active.three-quarters
	header
		h2(data-github='forms') Forms
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_dtag_forms&test=loading_benchmark_dtag_forms&device=Desktop') details
		//a.topcoat-button.baseline(href='/baseline?test=smoothness_benchmark_dtag_forms&test=smoothness_benchmark_dtag_forms-base&test=loading_benchmark_dtag_forms&test=loading_benchmark_dtag_forms-base&device=Desktop') baseline

// includes/flip.jade
include flip


